$icon: #000;
.wrapper{
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
.content{
    flex:1;
}

.ticon{
    background-color: $icon;
    padding:10px;
    width:40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height:40px;
    margin-right: 10px;

}
.title{
    font-size: 1.5rem;
    color: $icon;
    font-weight: bolder;
   
}
i{
    color: $icon;
    font-size: 1.2rem;
 
}
.navbar-nav a{
    color: $icon;
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 20px;
    
}
footer{
    
    padding:10px;
    
    h3{
        font-weight: bolder;;
    }
    ul{
        margin-left: -5%;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color:$icon;
            }
        }
    }
    ul.icons{
        display:flex;
        justify-content: center;
        gap:10px;
    }
}
.profile{
    border-radius: 10px;
    width:50px;
}
.profile:hover{
    cursor:pointer;
}
@media (max-width: 767.98px) {
    footer{
        ul.icons {
            justify-content: flex-start;
        }
    }

}
