$icon: #000;
$orange:#FCA311;
$platinium:#E5E5E5;
$white:#fff;
$less-icon:#14213d;
*{
    margin:0;
}
body{
    overflow-x: hidden;
}
.hero{
    padding:0;
    position: relative;
    margin-top: 5%;
    min-width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero.avif");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5; 
        z-index: -1; 
    }
    .row{
     
        padding:10px;
        height: fit-content;
        .left{
            p{
                font-size: 1.8rem;
                color:$icon;
            }
            h1{
                font-size: 3.5rem;
                color:$icon;
            }
        }
        .right{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .search{
            display: flex;
            justify-content: center;
            align-items: center;
      
            input{
                width: 70%;
                height: 50px;
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-size: 1.2rem;
            }
            input:focus{
                outline: none;
            }
            button{
                background-color: $orange;
                color: $white;
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-size: 1.2rem;
                margin-left: 10px;
            }
        }
        .right{
            width:30%;
            margin-left: 17%; 
             
            
            .splide{
                display:flex;
                width:88%;
                margin-top: 10%;
                justify-content: center;
                align-items: center;
                box-shadow:$icon 0px 0px 10px;
                border-radius: 10px;
                .splide__track{
                    border-radius: 10px;
                img{
                    display:inline-block;
                    width: 100%;
                    height: 100%;
                    
                    border-radius: 10px;
                  
                }
            }
            }

        }
    } //end of row
}// end of container-fluid for hero page

#product_info{
    display:flex;

    max-width:80%;
    margin:0 auto;
    margin-top: 8%;
    
    justify-content: space-between;
    .product_left{
        flex-grow:2;
        h1{
            font-size: 2rem;
            color:$icon;
            
            
        }
    }

    .product_right
    {
        flex-grow:1;
        display:flex;
        justify-content: space-around;
        
        p{
            background-color: $platinium;
            color:$white;
           border-radius: 15px;
            width:fit-content;
            text-align: center;
            height:40px;
            font-size: 1.2rem;
            color:$icon;
            
        }
        p.active{
            background-color: $orange;
        }
    }
}// end of product info


#products{
    width:100%;
 
    .container-fluid{
        width:80%;
        
        margin:1% auto;
        .card{
            border:0.1px solid $icon;
            margin-bottom: 5%;
            overflow: hidden;;
            >img{
                width:100%;
                height:200px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .card_body{
                padding:5px;
                padding-bottom: 10px;
                border-top:none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .card_title{
                    margin-top: 1%;
                    margin-bottom: 10%;
                    text-align: center;
                    font-size:1.5rem;
                    height:60px;
                    font-weight: bold;
                }
                .card_description{
                    text-align: center;
                    height:60px;
                   
                }
                .card_price{
                    margin-left: 3%;
                    font-size:1.4rem;
                    font-weight: bold;
                }
                .card_cart{
                    margin-left: 3%;
                    display:flex;
                    gap:10px;
                    padding-top: 5px;
                    width:fit-content;
                    border:2px solid $less-icon;
                    border-radius: 10px;
                    *{
                        padding:5px;
                        padding-bottom: 2px;
                        color:$orange;
                    }
                    p{
                        font-size:1.3rem;
                        font-weight: bold;
                    }
                    
                    
                }
            }

        }
        .card:hover{
            cursor:pointer;
            > img{
                animation:card 0.5s ease-in forwards;
            }
            
        }
        @keyframes card {
            from{
                transform: scale(1);
            }
            to{
                transform: scale(1.1);
            }
        }
    }
}
.success {
    color: #0f0;
    background-color: $platinium;
    width:100%;
    text-align: center;
    display: block;
    margin: 5px;
  }
.disabled{
    display:none;
}
.muted{
background-color: $platinium;
opacity:0.6;
border:none;
p{
    font-size: 0.8rem;
}
}
#clothestab,#electronicstab,#furniturestab,#alltab{
    cursor: pointer;
}