{% extends "layout.html" %}
{% load static %}
{% block title %} Ecommerce{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/iconFocus.js' %}"></script>
<script src="{% static 'js/carousle.js' %}"></script>
{% endblock %}
{% block login %}Logout{% endblock %}
{% block body %}
<span class="success">
  {% if messages %}
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  {% endif %}
</span>
<div class="container-fluid hero">
    <div class="row ">
        <div class="left  p-5 col-md-6 col-12">
            <p>Elevate Your Style, Shop the Best!</p>
            <h1 class="big">Explore our collection of modern and affordable apparel</h1>

        </div>
        <div class="right col-lg-6 d-none d-lg-block">
            <section class="splide" aria-labelledby="carousel-heading">
                <div class="splide__track">
                      <ul class="splide__list">
                        <li class="splide__slide">
                            <img class="m-auto" src="{% static 'images/fashion.jpg' %}" alt="Fashion">
                          </li>
                          <li class="splide__slide">
                            <img src="{% static 'images/furniture.avif' %}" alt="Furniture">
                          </li>
                          <li class="splide__slide">
                            <img src="{% static 'images/electronics.avif' %}" alt="Electronics">
                          </li>
                      </ul>
                </div>
              </section>
        </div>
    </div>
</div>
<div id="product_info">
  <div class="product_left">
    <h1>Discover New</br>Arrivals</h1>
  </div>
  <div class="product_right">
    <p id="alltab" class="px-3">All</p>
    <p id="clothestab" class="px-3">Clothes</p>
    <p id="electronicstab" class="px-3">Electronics</p>
    <p id="furniturestab" class="px-3">Furnitures</p>
  </div>
</div>

<section id="products">
  <div class="container-fluid">

      <div id="all" class="row product-category">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="{{ product.image.url }}" alt="">
            <div class="card_body">
              <p class="card_title">{{ product.name }}</p>
              <p class="card_description">{{ product.description }}</p>
              <p class="card_price">${{ product.price }}</p>
              <p class = "text-muted">Published by {{ product.created_by.username }}</p>
              <div class="card_cart">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <p data-id="{{ product.id }}">Add to cart</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="electronics" class="row product-category disabled">
        {% for product in products %}
        {% if product.category == "electronics" %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="{{ product.image.url }}" alt="">
            <div class="card_body">
              <p class="card_title">{{ product.name }}</p>
              <p class="card_description">{{ product.description }}</p>
              <p class="card_price">${{ product.price }}</p>
              <p class = "text-muted">Published by {{ product.created_by.username }}</p>
              <div class="card_cart">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <p data-id="{{ product.id }}">Add to cart</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div id="furniture" class="row product-category disabled">
        {% for product in products %}
        {% if product.category == "furniture" %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="{{ product.image.url }}" alt="">
            <div class="card_body">
              <p class="card_title">{{ product.name }}</p>
              <p class="card_description">{{ product.description }}</p>
              <p class="card_price">${{ product.price }}</p>
              <p class = "text-muted">Published by {{ product.created_by.username }}</p>
              <div class="card_cart">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <p data-id="{{ product.id }}">Add to cart</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div id="clothes" class="row product-category disabled">
        {% for product in products %}
        {% if product.category == "clothes" %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="{{ product.image.url }}" alt="">
            <div class="card_body">
              <p class="card_title">{{ product.name }}</p>
              <p class="card_description">{{ product.description }}</p>
              <p class="card_price">${{ product.price }}</p>
              <p class = "text-muted">Published by {{ product.created_by.username }}</p>
              <div class="card_cart">
                <i class="fa fa-shopping-bag fa-2x"></i>
                <p data-id="{{ product.id }}">Add to cart</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'js/category.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src = "{% static 'js/cartNumber.js' %}"></script>
{% endblock %}