{% extends "layout.html" %}
{% load static %}
{% block title %} Ecommerce{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block login %}Login{% endblock %}
{% block body %}

<div class="container">
    <div class="left-part">
        <img src="{% static 'images/bg.png' %}" alt="Left Image">
    </div>
    <div class="right-part">
        <form action = "{% url 'login' %}" method="post">
            {%csrf_token%}
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <span class="error">
                {%if errors %}
                {{errors.error}}
                {% endif %}
            </span>
            <span class="success">
                {% if messages %}
                {% for message in messages %}
                    
                        {{ message }}
                   
                {% endfor %}
            {% endif %}
            </span>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
    </div>
</div>

<style>
  
</style>
{% endblock %}