{% extends "layout.html" %}
{% load static %}
{% block title %} Ecommerce{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/sell.css' %}">
<script src = "{% static 'js/image.js' %}"></script>
{% endblock %}
{% block login %}Logout{% endblock %}
{% block body %}
<h2>Add a product</h2>
    <div class="container-fluid addc">
       
    <form action = "{% url 'sell' %}" method = "post"  enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="productName" name="productName">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category">
                <option value="clothes">Clothes</option>
                <option value="electronics">Electronics</option>
                <option value="furniture">Furniture</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="form-group file-upload-container">
            <label for="file-upload" class="custom-file-upload">
                Image Upload
            </label>
            <span id="file-upload-filename"></span>
            <input id="file-upload" name = "image" type="file" onchange="displayFileName()" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    </div>
{% endblock %}
{% block js %}

{%endblock%}