{% extends "layout.html" %}
{% load static %}
{% block title %} Ecommerce{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block body %}
<div class="banner">
    <h1>Shop</h1>
</div>
<h1 class="title2">Lorem Ipsum</h1>
<div class="search2">
    <input type="text" placeholder="Keywords">
    <i class="fas fa-search"></i>
</div>
<div class="container-fluid category2">
    <div class="row">
    <div class=" col-12 col-md-3 left">
        <h1>Categories</h1>
        <ul>
            <li class = "cur"><i class=" fas fa-tshirt"></i> Clothing</li>
            <li><i class="fas fa-mobile-alt"></i> Electronics</li>
            <li><i class="fas fa-couch"></i> Furniture</li>
        </ul>
    </div>
    <div class="col-12 col-md-9 right">
        <div class="row mx-5">
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="{% static 'images/hoodie.webp' %}" alt="">
                <div class="card_body">
                  <p class="card_title">Hoodie </p>
                  <p class="card_description">Lorem Ipsum Integer vel lacus eu odio eleifend feugiat. Sed aliquam erat nec odio vehicula. Incendentu aliwqu erat elefiend</p>
                  <p class="card_price">$80</p>
               
                  <div class="card_cart">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <p>Add to cart</p>
                  </div>
                </div>
      
              </div>
            </div>
      
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="{% static 'images/hoodie.webp' %}" alt="">
                <div class="card_body">
                  <p class="card_title">Hoodie </p>
                  <p class="card_description">Lorem Ipsum Integer vel lacus eu odio eleifend feugiat. Sed aliquam erat nec odio vehicula. Incendentu aliwqu erat elefiend</p>
                  <p class="card_price">$80</p>
                  <div class="card_cart">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <p>Add to cart</p>
                  </div>
                </div>
      
              </div>
            </div>
      
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="{% static 'images/hoodie.webp' %}" alt="">
                <div class="card_body">
                  <p class="card_title">Hoodie </p>
                  <p class="card_description">Lorem Ipsum Integer vel lacus eu odio eleifend feugiat. Sed aliquam erat nec odio vehicula. Incendentu aliwqu erat elefiend</p>
                  <p class="card_price">$80</p>
                  <div class="card_cart">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <p>Add to cart</p>
                  </div>
                </div>
      
              </div>
            </div>
      
      
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="{% static 'images/hoodie.webp' %}" alt="">
                <div class="card_body">
                  <p class="card_title">Hoodie </p>
                  <p class="card_description">Lorem Ipsum Integer vel lacus eu odio eleifend feugiat. Sed aliquam erat nec odio vehicula. Incendentu aliwqu erat elefiend</p>
                  <p class="card_price">$80</p>
                  <div class="card_cart">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <p>Add to cart</p>
                  </div>
                </div>
      
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="{% static 'images/hoodie.webp' %}" alt="">
                <div class="card_body">
                  <p class="card_title">Hoodie </p>
                  <p class="card_description">Lorem Ipsum Integer vel lacus eu odio eleifend feugiat. Sed aliquam erat nec odio vehicula. Incendentu aliwqu erat elefiend</p>
                  <p class="card_price">$80</p>
                  <div class="card_cart">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <p>Add to cart</p>
                  </div>
                </div>
      
              </div>
            </div>
      
          </div>
    </div>
    </div>
</div>
{% endblock %}